.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 20vh;
  overflow: hidden;
}
.text {
  color: var(--color-text-white);
  z-index: 1;
}
.image {
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0) 100%
  );
}
