.container {
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}
.row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}
.col {
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-flow: column nowrap;
}
.location {
  font-family: var(--font-satoshi);
  font-weight: 600;
  font-size: var(--font-size-medium);
  color: var(--color-title);
  margin-bottom: 1rem;
}
.quote {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: var(--font-size-paragraph);
  color: var(--color-paragraph);
}
.image {
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.first {
  order: 1;
}
.second {
  order: 2;
}
