html {
  margin: 0;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color: rgb(245, 245, 245);
}
@media (min-width: 769px) {
  :root {
    /* font sizes */
    --font-size-hero: clamp(4rem, 2.712rem + 1.675vw, 7rem);
    --font-size-title: clamp(3.2rem, 2.685rem + 0.67vw, 4.4rem);
    --font-size-sub-title: clamp(2.8rem, 2.285rem + 0.67vw, 4rem);
    --font-size-medium: clamp(2.4rem, 2.057rem + 0.447vw, 3.2rem);
    --font-size-paragraph: clamp(1.7rem, 1.228rem + 0.614vw, 2.8rem);
    --font-size-small: clamp(1rem, 0.571rem + 0.558vw, 2rem);
    /* spacing */
    --padding-inline: clamp(2rem, -1.435rem + 4.467vw, 10rem);
  }
}
@media (max-width: 768px) {
  :root {
    /* font sizes */
    --font-size-hero: clamp(3rem, 2.286rem + 2.232vw, 4rem);
    --font-size-title: clamp(2.5rem, 1.857rem + 2.009vw, 3.4rem);
    --font-size-sub-title: clamp(1.9rem, 1.257rem + 2.009vw, 2.8rem);
    --font-size-medium: clamp(2rem, 1.714rem + 0.893vw, 2.4rem);
    --font-size-paragraph: clamp(1.5rem, 1.357rem + 0.446vw, 1.7rem);
    --font-size-small: clamp(1rem, 0.571rem + 0.558vw, 2rem);
    /* spacing */
    --padding-inline: clamp(2rem, -1.435rem + 4.467vw, 10rem);
  }
}

:root {
  /* colors */
  --color-paragraph: #0f110f;
  --color-text-gray: lightgray;
  --color-text-white: white;
  --color-emphasis: #38c098;
  --color-emphasis-darkened: #187c60;
  --color-background: #f0f5f0;
  --color-title: #050805;
  --color-overlay-light: #f0f5f0;
  --color-overlay-dark: #050805;
}
/* universal styles */
.hollisButton {
  display: inline-block;
  background-color: var(--color-emphasis);
  padding: 0.5em 1em;
  font-size: var(--font-size-paragraph);
  border-radius: 12px;
  font-family: var(--font-satoshi);
  font-weight: 800;
  text-decoration: none;
  color: var(--color-text-white);
  transform: scale(1);
  margin-block: 20px;
  transition: transform 0.1s;
}
.hollisButton:hover {
  transform: scale(1.05);
}
.title {
  color: var(--color-title);
  font-family: var(--font-satoshi);
  font-size: var(--font-size-title);
  font-weight: 800;
}
.location {
  font-family: var(--font-satoshi);
  font-weight: 600;
  font-size: var(--font-size-medium);
  color: var(--color-title);
  margin-bottom: 1rem;
}

.paragraph {
  color: var(--color-paragraph);
  font-family: var(--font-inter);
  font-size: var(--font-size-paragraph);
}

.centered {
  text-align: center;
}
.contentSectionContainer {
  margin: 0 auto;
  max-width: 1200px;
  padding-inline: var(--padding-inline);
  position: relative;
}
.contentsCentered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.fillContainer {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.largeBlockSpace {
  margin-block: 150px;
}
.medBlockSpace {
  margin-block: 100px;
}
.smallBlockSpace {
  margin-block: 50px;
}
